<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/about.css">
    <script src="https://kit.fontawesome.com/39a01f771c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.jpg" alt="logo">
                <h3>SLEEK MAN</h3>
            </div>

            <div class="navbar">
                <nav>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="about.html">About</a></li>
                    </ol>
                </nav>
            </div>

            <!--<div class="search">
                <form action="">
                    <input type="search" placeholder="What are you looking for?...">
                    <button type="submit">Search</button>
                </form>
            </div>-->

            <div class="sign">
                <a id="login" href="registration/login.html">Login</a>
                <a id="signup" href="registration/signup.html">Sign Up</a>
            </div>
        </div>
    </header>

    <main>
        <div class="head">
            <div class="logo">
                <img src="assets/images/logo.jpg" alt="">
            </div>

            <div class="logoname">
                <h1>SLEEK MAN</h1>
            </div>
        </div>

        <div class="about">
            <div class="heading">
                <h2>ABOUT US</h2>
                <p>
                    <b>SLEEK MAN IS A GHANAIAN MALE GROOMING BRAND THAT DESIRES TO TREAT THE MODERN MAN TO SOME FINE ORGANIC BEARD & SKIN CARE</b>
                </p>
            </div>

            <div class="details">
                <h3>OUR STORY STARTS HERE</h3>
                <p>
                    Sleek Man Grooming is a <b>MEN-CARE BRAND</b> under <b>BEALFON ENTERPRISE</b> a sole owned business.<br>
                    Sleek Man Product line which came about when a Young Vibrant Lady, developed passioned for Empowering Men's Personal Care and providing vital information about facial hair maintenance & growth.<br><br><br><br>
                    Because Her love for beard is unmatched, She then decided to figure out a way to source for locally made Men's Product.<br><br><br><br>
                    This venture took a while to yield results as it was a gradual process of testing certain carrier and essential oils to discover the unique formula eventually found today & we are here!<br><br><br><br>
                    The Company takes pride in originality which drove us towards more Men's Organic Skin Care Products. <br><br><br><br>
                    Our desire is to create products that are effective for solving Skin and Facial Hair Challenges faced by many African Men.<br><br><br><br>
                    Our products are carefully selected & tested before they are released in the market for consumption.<br><br><br><br>
                    In order to get that fine & unique essence, which our customers applaud us for.<br><br><br><br>
                    We want to ensure that you get value for your money while also enjoying <b>Organic Luxury.</b>
                </p>
            </div>
        </div>

        <div class="order">
            <a href="product-details.html"><i class="fa-solid fa-right-to-bracket fa-sm" style="color: #000;"></i> View Products Details</a>
        </div>

        <img src="assets/images/bottle.png" id="bottle" alt="">
        <img src="assets/images/brush.png" alt="" id="brush">
        <img src="assets/images/pomade.png" alt="" id="pomade">

        <div class="socialmedia">
            <div class="head">
                <h2>Follow Us</h2>
            </div>

            <div class="icon">
                <a href="#facebook"><i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 3em;"></i></a>
                <a href="#ins"><i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 3em;"></i></a>
                <a href="#tiktok"><i class="fa-brands fa-tiktok" style="color: #ffffff; font-size: 3em;"></i></a>
                <a href="#twi"><i class="fa-brands fa-twitter" style="color: white; font-style: 3em;"></i></a>
            </div>
        </div>
    </main>
</body>
</html>