<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/39a01f771c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="assets/images/logo.jpg" alt="logo">
                <h3>SLEEK MAN</h3>
            </div>

            <div class="navbar">
                <nav>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="about.html">About</a></li>
                    </ol>
                </nav>
            </div>

            <!--<div class="search">
                <form action="">
                    <input type="search" placeholder="What are you looking for?...">
                    <button type="submit">Search</button>
                </form>
            </div>-->

            <div class="sign">
                <a id="login" href="registration/login.html">Login </a>
                <a id="signup" href="registration/signup.html">Sign Up <i class="fa-solid fa-circle-user fa-lg" style="color: #ffffff;"></i></a>
            </div>
        </div>
    </header>

    <main>
        <video src="assets/images/video.mp4" autoplay loop></video>

        <div class="main">
            <div class="head">
                <h1>SLEEK MAN</h1>
                <h2>BEARD GROOMING KIT</h2>
            </div>

            <div class="details">
                <h3>EACH DROP OF SLEEK MAN PRODUCTS WILL GIVE YOU A SOFTER, FULLER AND PERFECTLY STYLED BEARD THAT BOOSTS YOUR CONFIDENCE WITH EVERY USE</h3>
            </div>

            <div class="buttons">
                <a href="product.html">Shop Here <i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffffff;"></i></a>
                <a href="about.html">About Us <i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i></a>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>